<script src="{{ site_url }}/{{ template }}/js/jquery.min.js"></script>
<script src="{{ site_url }}/{{ template }}/js/bootstrap.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>
